# --- SERVER CONFIGURATION ---
PORT=3443
NODE_ENV=development
CLIENT_URL=https://localhost:3443 

# --- DATABASE CONFIGURATION (MySQL) ---
DB_CLIENT=mysql2
DB_HOST=db
DB_PORT=3306
DB_USER=web_mobile
DB_PASSWORD=mypassword123
DB_NAME=db

# --- SECURITY & AUTHENTICATION (JWT) ---
JWT_SECRET=pc_store_super_secret_access_key_2026
JWT_REFRESH_SECRET=pc_store_super_secret_refresh_key_2026
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

# --- SSL CERTIFICATES PATH ---
SSL_KEY_PATH=./certs/localhost-key.pem
SSL_CERT_PATH=./certs/localhost-cert.pem

# --- FILE UPLOAD CONFIG ---
MAX_FILE_SIZE=5242880
UPLOAD_PATH=./public/uploads/products/